* {
    font-family: 'Montserrat', sans-serif;
    margin: auto 0px;
}

.body-all {
    background-color: #181D31;
    color: #E6DDC4;
}

p {
    color: #E6DDC4;
}
/*-logo-*/
rect#pc1, polygon#tec1{
    animation: parte_1 ease-in 5s;
    animation-iteration-count: 1;
}

rect#pc2, polygon#tec2{
    animation: parte_2 ease-in 7s;
    animation-iteration-count: 1;
}

@keyframes parte_1{
    0% {
        transform: translate(-100%, 0px);
        opacity: 0;
    }

    10%{
        transform: translate(0,-10px);
        opacity: 0;
    }

    20%, 100%{
        transform: translate(0,0);
        opacity: 1;
    }
}

@keyframes parte_2{
    0%{
        transform: translate(-100%, 0px);
        opacity: 0;
    }

    30%, 100%{
        transform: translate(0,0px);
        opacity: 1;
    }
}  


/*-nav-*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px;
}

main {
    padding:10px 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-left: auto;
    gap: 20px;
}

.item-menu {
    list-style-type: none;
}

.item-link, .botonesVideo {
    box-shadow: 2px 3px #678983;
    border-radius: 10px;
    padding: 10px;
    background-color: #E6DDC4;
    color: #181D31;
    text-decoration: none;
    font-weight: 300px;
}

.item-menu:hover {
    box-shadow: 0px 0px gray;
    transform: translate(4px, 2px);
    transition: all 0.4s ease;
}

.item-menu > .item-link:hover {
    box-shadow: 0px 0px gray;
}

#showTime{
    display: flex;
    margin-left: auto;
}
/*------------ header ----------*/

header {
    background: url(./assets/imagenes/codigo.jpg) 50% 0 fixed;
    display: flex;
    background-size: cover;
    min-height: 600px;
    color: #eeeeee;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}

.titulo-blanco {
    text-align: center;
}

h1 {
    text-shadow: 2px 2px gray, 6px 6px black;
}

h2 {
    text-shadow: 3px 3px black;
    font-size: 40px;
    text-align: center;
    color: #678983;
    margin: 25px;
}

.container {
    display: flex;
    margin: 100px 0px;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    display: flex;
    width: 350px;
    height: 400px;
    background-color: #E6DDC4;
    border: 5px solid #678983;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-card {
    width: 100%;
    margin: 0px;
}

.descr-card {
    width: 90%;
    text-align: center;
    height: 30px;
    color: #181D31;
}

.boton-ir {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #181D31;
    color: #eeeeee;
    box-shadow: 2px 3px #678983;
    width: 40%;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease;
}

.boton-ir:hover {
    box-shadow: 0px 0px gray;
    transform: translate(4px, 2px);
}

/*-----HISTORIA---*/

.cont-historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-historia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 50px;
    gap: 30px;
    background-color: linear-gradient(10% #E6DDC4, #181D31 100%);
}

.text-historia {
    width: 45%;
}

/*-----Juego----*/

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    background-color: grey;
    width: 275px;
    height: 400px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box:hover {
    background-color: #1d1d1d;
}

.caja:hover > p {
    color: #E6DDC4;
}

#boxImagenes {
    display: flex;
    margin: 40px;
    flex-direction: row;
    gap: 10px;
}

#img1,#img2,#img3 {
    width: 275px;
    height: 400px;
}

.reinicio {
    display: flex;
    padding: 10px 100px;
    margin: auto;
}

.botonesVideo:hover {
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
    transition: all 0.4s ease;
}

/*--footer--*/

.logo {
    height: 80px;
}

footer {
    display: flex;
    background-color: #678983;
    color: #181D31;
    height: 100px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    width: 300px;
    height: 60px;
    justify-content: space-between;
}

.titulo-foot {
    font-size: 15px;
}